Baizel/.vs
Baizel/temp
dependencies/lib/x64/Baizel.lib
dependencies/lib/x86/Baizel.lib
Untitled/.vs
Untitled/temp
Untitled/redist-x64-Debug
Untitled/redist-Win32-Debug
Untitled/redist-x64-Release
Untitled/redist-Win32-Release