Baizel/.vs
Untitled/.vs
Baizel/temp
Untitled/temp

dependencies/lib/x64/Baizel.lib
dependencies/lib/x86/Baizel.lib

dependencies/lib/x64/Baizel.idb
dependencies/lib/x64/Baizel.pdb

dependencies/lib/x86/Baizel.idb
dependencies/lib/x86/Baizel.pdb

Untitled/redist-x64-Debug
Untitled/redist-Win32-Debug
Untitled/redist-x64-Release
Untitled/redist-Win32-Release